@import "tailwindcss";

@font-face {
  font-family: "hakgyoansimB";
  src: url("@/shared/assets/fonts/HakgyoansimB.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "hakgyoansimR";
  src: url("@/shared/assets/fonts/HakgyoansimR.otf") format("opentype");
  font-weight: 400;
}

:root {
  color-scheme: light dark;
}

@theme {
  /* 폰트 */
  --font-sans: "hakgyoansimR", sans-serif;
  --font-bold: "hakgyoansimB", sans-serif;

  /* 색상 */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-yellow: #FFE204;
  --font-red: #FF0909;
  --font-green: #2BC504;
  --font-orange: #FFA600;
  --btn-green: #07D53E;
  --btn-light-green: #6BE46B;
  --btn-orange: #FFB061;
  --btn-blue: #009AFA;
  --btn-red: #FF0909;
  --btn-gray: #D9D9D9;
  --font-gray: #D7D7D7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1a1a1a;
    --color-foreground: #ffffff;
  }
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .font-haBold {
    font-family: var(--font-bold);
  }
  .webkit-text-stroke {
    -webkit-text-stroke: 1px #000000;
  }
  .webkit-text-stroke-wh {
    -webkit-text-stroke: 1px #ffffff;
  }
}